.faq-section {
  padding: 40px 5%;

  .faq-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #0d3b66;
    margin-bottom: 90px;
  }

  .faq-container {
    width: 100%;
  }

  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    text-align: left;
    transition: all 0.3s ease-in-out;

    .faq-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-size: 20px;
      font-weight: 400;
      color: #12406f;

      .active {
        color: #12406f;
      }

      .inactive {
        color: #525252;
      }

      .faq-toggle-btn {
        background: none;
        border: none;
        font-size: 20px;
        color: #12406f;
        cursor: pointer;
      }
    }

    .faq-answer {
      font-size: 20px;
      font-weight: 400;
      color: #525252;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
    }

    &.open {
      .faq-answer {
        max-height: 200px;
        opacity: 1;
        padding: 10px 0;
      }
    }
  }

  .open {
    border-color: #12406f;
  }
}
